__pycache__/*
.vscode/*
notebooks/.ipynb_checkpoints/
input_data/*.tsv
*.csv
*.png
*.pdf
*.xlsx
*.egg-info/
*.egg
*.pyc
build/
dist/
rgs_experiments/results/**/*.csv
rgs_experiments/results/**/*.pkl
rgs_experiments/results/**/*.npy
!rgs_experiments/results/**/.gitkeep
results/raw/*.json
params/*.json
notebooks/*
old_params/*
real_data/*.tsv
.DS_Store